.title {
  margin-top: 0;
}

.tableContainer {
  margin: 2% 3%;
}

.tableContainer p,
.tableContainer span,
.tableContainer td {
  font-weight: 600;
}

.tableContainer thead tr th {
  font-size: 16px;
}

.wrapper {
  overflow: auto;
}

.tableWrapper tbody tr:hover {
  cursor: pointer;
}

.tableWrapper tbody tr.MuiTableRow-root-30 th {
  font-family: "Francois One", sans-serif;
  font-size: 16pt;
}

.tableWrapper thead tr.MuiTableRow-root-30 th {
  font-family: "Noto Sans", sans-serif;
}
