.button {
  width: 100%;
  min-height: 60px;
  padding: 1rem 3rem;
  background: #0f0713;
  border-color: rgba(246, 222, 167, 0.25);
  color: #f6dea7;
  font-family:
    roboto black,
    sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
