.searchButton {
  list-style: none;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid;
  border-color: #2e2734;
  width: 70px;
  height: 45px;
  background-image: url(/images/search.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
  box-shadow: none !important;
  margin-left: 16px;
  cursor: pointer;
}

.nameInputContainer {
  flex: 1;
}

.searchBarList {
  list-style-type: none;
  display: flex;
}

.regionsList {
  flex-direction: column;
  border: 1px solid rgba(246, 222, 167, 0.4);
  width: 205px;
  background-color: #0d0611;
  padding: 8px 0;
  position: absolute;
  top: 46px;
  right: 86px;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.searchBarList,
.input {
  display: flex;
  flex-direction: row;
}

.input {
  width: 100%;
}

.input,
.input * {
  height: 100%;
}

.searchButton {
  width: 90px;
}

.searchButtonContainer {
  height: 100%;
}

.summonerNameInput {
  background: transparent;
  padding: 8px 24px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid;
  border-color: #2e2734;
  border-right: none;
  width: 100%;
}

.searchBar * {
  font-family:
    roboto black,
    sans-serif;
}

.searchBarList * {
  font-size: 1.5rem;
}

.regionSelector {
  background: transparent;
  border: 1px solid;
  border-color: #2e2734;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "roboto black";
  color: rgb(191, 190, 209);
  height: 45px;
  cursor: pointer;
}

.searchBar *:focus,
.searchBar:focus {
  & .regionSelector,
  .summonerNameInput,
  .searchButton {
    border-color: rgba(246, 222, 167, 0.4);
    &:focus {
      border-color: rgba(246, 222, 167, 0.4);
    }
  }
}
