.container {
  background: black;
  border-top: 3px solid #e91e63;
  padding: 1% 15%;
}

.container > nav h3:first-of-type {
  color: white;
}

.container > nav,
.container > nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container > nav ul li > a {
  padding: 6px;
}

.container > nav ul > :first-child {
  font-size: 50px;
}

.container > nav ul {
  margin: 0;
}

.container {
  text-align: center;
}

.container > nav h3:first-of-type {
  text-transform: uppercase;
}
