.container {
}

.title {
  justify-content: center;
  margin: 48px 0;
  font-size: 40px;
  font-family: beaufort;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}

.stats {
  margin-bottom: 30px;
}

.champions {
}
